body  {
  font-family: sans-serif;
  /*background-image: url(https://pbs.twimg.com/profile_images/960347893914898432/H0tA4G8k_400x400.jpg);*/
}

h1  {
  text-align: center;
}

#player1Wins, #player2Wins  {
  display: none;
}
